{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "color-named": "never",
    "color-no-hex": true,
    "font-family-no-missing-generic-family-keyword": [
      true,
      {"ignoreFontFamilies": ["Material Icons"]}
    ],
    "selector-type-no-unknown": [true, {"ignoreTypes": ["webview"]}]
  }
}
