sudo: required
dist: trusty

os:
- osx
- linux

addons:
  apt:
    packages:
    - build-essential
    - libxext-dev
    - libxtst-dev
    - libxkbfile-dev

language: node_js
node_js:
- '6'

before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- +extension RANDR :99 -ac -screen 0 1280x1024x16"
  - npm install -g gulp
  - npm install

cache:
  directories:
  - node_modules
  - app/node_modules

script:
- npm run travis
notifications:
  webhooks:
    urls:
      - https://zulip.org/zulipbot/travis
    on_success: always
    on_failure: always
