body {
    background: rgba(250, 250, 250, 1);
    font-family: menu, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

.logo {
    display: block;
    margin: -40px auto;
}

#version {
    color: rgba(68, 67, 67, 1);
    font-size: 1.3em;
    padding-top: 40px;
}

.about {
    margin: 25vh auto;
    height: 25vh;
    text-align: center;
}

.about p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.62);
}

.about img {
    width: 150px;
}

.detail {
    text-align: center;
}

.detail.maintainer {
    font-size: 1.2em;
    font-weight: 500;
}

.detail.license {
    font-size: 0.8em;
}

.maintenance-info {
    cursor: pointer;
    position: absolute;
    width: 100%;
    left: 0;
    color: rgba(68, 68, 68, 1);
}

.maintenance-info p {
    margin: 0;
    font-size: 1em;
    width: 100%;
}

p.detail a {
    color: rgba(53, 95, 76, 1);
}

p.detail a:hover {
    text-decoration: underline;
}
