/*******************
 *  General rules  *
 *******************/
html, body {
    height: 100%;
    margin: 0;
    cursor: default;
    user-select:none;
}

#content {
    display: flex;
    height: 100%;
    background: #eee url(../img/ic_loading.gif) no-repeat;
    background-size: 60px 60px;
    background-position: center;
}

#sidebar {
    background: #222c31;
    width: 54px;
    padding: 27px 0 20px 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    -webkit-app-region: drag;
    overflow: hidden;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

/*******************
 *   Left Sidebar  *
 *******************/
 #tabs-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* Preferred icon size */
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}

.action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.action-button i {
    color: #6c8592;
    font-size: 28px;
}

.action-button:hover i {
    color: #98a9b3;
}

.tab {
    position: relative;
    margin: 2px 0;
    cursor: pointer;
}

.tab.active::before {
    content: "";
    background: #fff;
    border-radius: 0 3px 3px 0;
    width: 4px;
    position: absolute;
    height: 35px;
    left: -10px;
    top: 5px;
}

.tab .server-tab {
    background: #a4d3c4;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    position: relative;
    margin: 5px 0;
    z-index: 11;
    line-height: 31px;
    color: #194a2b;
    text-align: center;
    overflow: hidden;
    opacity: 0.6;
}

.tab .server-tab:hover {
    opacity: 0.8;
}

.tab .functional-tab {
    background: #eee;
}

.tab .functional-tab i {
    font-size: 28px;
    line-height: 36px;
}

.tab.active .server-tab {
    opacity: 1;
}

.tab .server-tab-badge.active {
    border-radius: 9px;
    min-width: 11px;
    padding: 0 3px;
    height: 17px;
    background-color: #f44336;
    font-size: 10px;
    font-family: sans-serif;
    position: absolute;
    right: -6px;
    z-index: 15;
    top: -2px;
    float: right;
    color: #fff;
    text-align: center;
    line-height: 17px;
    display: block;
}

.tab .server-tab-badge {
    display: none;
}

.tab .server-tab-badge.close-button {
    width: 16px;
    padding: 0 0 0 1px;
}

.tab .server-tab-badge.close-button i {
    font-size: 13px;
    line-height: 17px;
}

#add-tab {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tab .server-tab-shortcut {
    color: #eee;
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
}

/*******************
 *   Webview Area  *
 *******************/
webview {
    opacity: 1;
    transition: opacity 0.3s;
    flex-grow: 1;
}

webview.disabled {
    flex: 0 1;
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

webview:focus {
    outline: 0px solid transparent;
}
