html,
body {
  margin: 0;
  cursor: default;
  font-size: 14px;
  color: rgb(51 51 51 / 100%);
  background: rgb(255 255 255 / 100%);
  user-select: none;
}

#content {
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 100px 200px;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

#subtitle {
  font-size: 20px;
  text-align: center;
  margin: 12px 0;
}

#description {
  text-align: left;
  font-size: 16px;
  list-style-position: inside;
  width: 400px;
  margin: 0 auto;
}

#reconnect {
  float: left;
  -ms-transform: translateX(460%);
  transform: translateX(460%);
  margin: 20px;
  text-align: center
}

#settings {
  margin: 20px;
  margin-left: 116px;
  -ms-transform: translateX(490%);
  transform: translateX(490%);
  text-align: left;
}

.button {
  font-size: 16px;
  background: rgb(0 150 136 / 100%);
  color: rgb(255 255 255 / 100%);
  width: 100px;
  height: 36px;
  border-radius: 5px;
  line-height: 32px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
