html,
body {
    margin: 0;
    cursor: default;
    font-size: 14px;
    color: rgba(51, 51, 51, 1);
    background: rgba(255, 255, 255, 1);
    user-select: none;
}

#content {
    display: flex;
    flex-direction: column;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 100px 200px;
    text-align: center;
}

#title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

#subtitle {
    font-size: 20px;
    text-align: left;
    margin: 12px 0;
}

#description {
    text-align: left;
    font-size: 16px;
    list-style-position: inside;
}

#reconnect {
    float: left;
}

#settings {
    margin-left: 116px;
}

.button {
    font-size: 16px;
    background: rgba(0, 150, 136, 1);
    color: rgba(255, 255, 255, 1);
    width: 96px;
    height: 32px;
    border-radius: 5px;
    line-height: 32px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}
