html,
body {
  margin: 0;
  cursor: default;
  font-size: 14px;
  color: rgb(51 51 51 / 100%);
  background: rgb(255 255 255 / 100%);
  user-select: none;
}

img {
  max-width: 100%;
  width: 380px;
  height: auto;
  vertical-align: middle;
  resize: both;
}

#content {
  display: grid;
  justify-content: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 100px 50px;
  text-align: center;
}

#network-error-texts {
  color: rgb(32 45 58 / 100%);
}

#title {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

#subtitle {
  font-size: 20px;
  text-align: left;
  margin: 12px 0;
}

#description {
  text-align: left;
  font-size: 16px;
  list-style-position: inside;
  padding: 20px;
}

#buttons {
  display: flex;
  justify-content: start;
}

#reconnect {
  float: left;
}

#settings {
  margin-left: 16px;
}

.button {
  font-size: 16px;
  background: rgb(0 150 136 / 100%);
  color: rgb(255 255 255 / 100%);
  width: 96px;
  height: 32px;
  border-radius: 5px;
  line-height: 32px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
