body{
	background-color: #6BB6C7
}

.form {
	position: absolute;
	top: 42%;
	left: 13%;
}

.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    right: 6px;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    -webkit-app-region: no-drag;
}