html,
body {
    height: 100%;
    margin: 0;
    cursor: default;
    user-select: none;
    font-family: menu, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #333;
    background: #efefef;
}

kbd {
    padding: 0.1em 0.6em;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

table { width: 85%; }

table tr:nth-child(even) { background-color: #f2f2f2; }

td { padding: 5px; }

td:nth-child(odd) {
		text-align: right;
		width: 50%;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  /* Preferred icon size */
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}

#content {
    display: flex;
    height: 100%;
    font-family: sans-serif;
}

#sidebar {
    width: 80px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#nav-container {
    padding: 20px 0;
}

.nav {
    padding: 5px 0;
    color: #999;
    cursor: pointer;
}

.nav.active {
    color: #464e5a;
    cursor: default;
    position: relative;
}

.nav.active::before {
    background: #464e5a;
    width: 3px;
    height: 16px;
    position: absolute;
    left: -8px;
    content: '';
}

#settings-header {
    font-size: 22px;
    color: #5c6166;
}

#settings-container {
    width: 100%;
    display: flex;
    padding: 30px;
    overflow-y: scroll;
}

#new-server-container {
    opacity: 1;
    transition: opacity 0.3s;
}

.title {
    padding: 4px 0 6px 0;
    font-weight: bold;
    color: #1e1e1e;
}

.sub-title {
    padding: 4px 0 6px 0;
    font-weight: bold;
    color: #616161;
}

img.server-info-icon {
    width: 36px;
    height: 36px;
    padding: 4px;
}

.server-info-left {
    margin: 10px 20px 0 0;
}

.server-info-right {
    flex-grow: 1;
    margin-right: 10px;
}

.server-info-row {
    display: flex;
    margin: 8px 0 0 0;
}

.server-info-alias {
    font-weight: bold;
    cursor: pointer;
}

.setting-input-key {
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    font-weight: bold;
    background: transparent;
    flex-wrap: nowrap;
    margin-right: 10px;
}

.setting-input-value {
    flex-grow: 1;
    font-size: 14px;
    height: 24px;
    border: none;
    border-bottom: #ededed 1px solid;
    outline-width: 0;
    background: transparent;
    max-width: 500px;
}

.setting-input-value:focus {
    border-bottom: #7cb980 1px solid;
}

.setting-block {
    width: 100%;
}

.actions-container {
    display: flex;
    font-size: 14px;
    color: #235d3a;
    vertical-align: middle;
    margin: 10px 0;
    flex-wrap: wrap;
}

.action {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 2px;
    margin-right: 10px;
}

.action i {
    margin-right: 5px;
    font-size: 18px;
    line-height: 27px;
}

.settings-pane {
    flex-grow: 1;
}

.action:hover {
    cursor: pointer;
}

.action.disabled:hover {
    cursor: default;
}

.action.disabled {
    color: #999;
}

.settings-card {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 30px;
    margin: 10px 0 20px 0;
    background: #fff;
    border-radius: 2px;
    width: 540px;
    box-shadow: 1px 2px 4px #bcbcbc;
}

.hidden {
    display: none;
    margin: 5px !important;
}

.red {
    color: #ef5350;
    background: #ffebee;
    border: 1px solid #ef5350;
}

.green {
    color: #388E3C;
    background: #E8F5E9;
    border: 1px solid #388E3C;
}

.grey {
    color: #9E9E9E;
    background: #FAFAFA;
    border: 1px solid #9E9E9E;
}

.setting-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 6px 0;
}

.code {
    font-family: Courier New, Courier, monospace;
}

i.open-tab-button {
    padding: 0 5px;
    font-size: 18px;
    cursor: pointer;
}

.reset-data-button {
    display: inline-block;
    width: 120px;
    cursor: pointer;
    font-size: 11px;
    transition: background-color 0.2s ease;
    text-decoration: none;

}

.reset-data-button:hover {
    background-color: #32a692;
    color: #fff;
}

#server-info-container {
		min-height: calc(100% - 220px);
}

#create-organization-container {
		height: 25px;
}

#open-create-org-link {
		color: #666;
		cursor: pointer;
		text-decoration: none;
}

#open-create-org-link:hover {
		color: #005580;;
		text-decoration: underline;
}