body{
	background-color: #6BB6C7;
}

.form {
    position: absolute;
    top: 35%;
    width: 300px;
    left: 9%;
}

.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    right: 6px;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    -webkit-app-region: no-drag;
}

input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    color: #646464;
}
input[type="text"]:focus {
  outline: none;
}

.form input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.form input[type="text"]:focus,
.form input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
button {
    border: none;
    color: #fff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: 107px;
    margin-top: 24px;
    display: inline-block;
    font-size: 16px;
    background: #137b86;
}
button:focus {
    outline: 0;
}
#urladded {
    font-size: 20px;
    position: absolute;
    font-family: 'opensans';
    top: -61%;
    left: 22%;
    text-align: center;
}

#pic {
width: 20px;
left: 36%;
margin-left: 4px;
top: 63%;
display: none;
position: absolute;
}