html, body {
    height: 100%;
    margin: 0;
}

#content {
    display: flex;
    height: 100%;
}

#sidebar {
    background: #222c31;
    width: 80px;
    padding: 40px 0 20px 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    -webkit-app-region: drag;
}

#webview {
    flex-grow: 1;
}

.action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.action-button i {
    color: #6c8592;
    font-size: 28px;
}


#servers-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.server-button {
    position: relative;
    margin: 5px 0;
}

.server-button.active::before{
    content: "";
    background: #fff;
    border-radius: 0 3px 3px 0;
    width: 4px;
    position: absolute;
    height: 44px;
    left: -18px;
    top: 5px;
}

.server-button .server-name{
    background: #a4d3c4;
    background-image: url(https://chat.zulip.org/static/images/logo/zulip-icon-128x128.271d0f6a0ca2.png);
    background-size: 100%;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    position: relative;
    margin: 5px 0;
    z-index: 11;
    line-height: 44px;
    font-size: 24px;
    font-family: sans-serif;
    color: #194a2b;
    text-align: center;
    overflow: hidden;
    opacity: 0.6;
}

.server-button.active .server-name{
    opacity: 1;
}